body {
  background-color: #252525;
  color: bisque;
  margin: 0;
  padding: 0;
}

/* flex box components */

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.child {
  flex: 1 0 auto; /* this is the key; consumes all available height */
  background-color: #252525;
  color: bisque;
}
svg {
  font: 10px sans-serif;
  /* color: white;
  fill: white; */
  /* box-shadow: 0px 2px 8px 1px rgb(240, 91, 91); */
}
#mainBars:hover {
  box-shadow: 0px 2px 8px 1px #25deaa;
}

.bar {
  fill: lightcoral;
  /* fill: rgb(240, 91, 91); */
  border: #fff;
  clip-path: url(#clip);
  cursor: pointer;
  box-shadow: 10px 2px 8px 1px rgb(240, 91, 91);
}

.subBar {
  fill: gray;
  /* fill: white; */
  /* opacity: 0.5; */
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill: rgb(4, 230, 38);
  fill-opacity: 0.25;
  shape-rendering: crispEdges;
  cursor: zoom-in;
  /* .zoom-out {cursor: zoom-out;} */
}

/* tip styling */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: '\25BC';
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* graph container's */
/* Style the page: */
body {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  background-color: lightslategray;
  margin: 5px;
}

/* Set items above the header: */
.site-brand {
  /* margin: 2em; */
  text-align: center;
  background-color: #000;
  padding: 15px;
  border-radius: 20px;
  width: auto;
  margin-bottom: 0.2em;
  overflow-x: hidden;
}

/* Set your header design: */
header {
  position: sticky;
  top: 0px;
  background-color: #26272b;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  height: 4em;
  width: 100%;
  text-align: right;
  border-radius: 18px;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.smallerSiFiveLogo {
  border-radius: 48px;
}

/* Set the layout of the menu: */
.menu-item,
.site-name {
  display: inline-block;
  margin: 1em 0.2em;
  min-width: 6em;
  text-align: center;
  background-color: #26272b;
  padding: 0.5em 1em;
}

/* Style the links: */
.menu-item a {
  color: #fff;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #1ccdca;
}

/* Add a dropdown feature: */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid #000;
  margin: 0.5em 0 0 -1em;
  color: #000;
  background-color: #fff;
  z-index: 1;
}
.dropdown-content a {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style dropdown item display: */
.dropdown-item {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  min-width: 5.9em;
}

.dropdown-item:hover,
.dropdown-item:hover a {
  color: #baf0ef;
  background-color: #a2a2a2;
}

/* Style the Main Content: */
.site-name {
  float: left;
  margin: 3px;
  /* padding-right: 1em; */
  color: #181a1a;
  border-radius: 48px;
  /* height: auto; */
  opacity: 80%;
}
.main-container {
  margin-top: 2em;
  padding: 1em;
  line-height: 1.4em;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column {
  margin: 5px;
  color: white;
  border-radius: 48px;
  height: 300px;
  text-align: center;
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border: 1px solid;
  border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

/* ---- */
