/* timed message box */
#messageBox {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  vertical-align: middle;
  line-height: 30px; /* to ensure the text is centered*/
  position: absolute;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 50px; /* to ensure the text is centered*/
  background-color: #1f1f1f;
  border: 3px solid rgb(262, 63, 78);
  color: rgb(229, 229, 229);
  border-radius: 48px;
}

/* button message */
.outer-box {
  display: block;
  text-align: center;
}

/* X close message box */

.outerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 250px;
  color: white;
  background-color: #1f1f1f;
  border-radius: 48px;
  padding: 0;
  margin: 0;
  border: 3px solid rgb(262, 63, 78);
}

.close {
  position: relative;
  left: 79%;
  bottom: 1%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 25px; /* to ensure the text is centered*/
  width: 25px;
  height: 25px;
  margin: 10px;
  color: rgb(229, 229, 229);
  background-color: rgb(262, 63, 78);
  border-radius: 48px;
  border: 3px rgb(262, 63, 78);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.bodyTextContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close:hover {
  background: lightgreen;
  color: black;
  transform: scale(1.1);
}
.close:active {
  box-shadow: 7px 6px 28px 1px #1f1f1f;
  transform: translateY(4px);
}

/* .DialogueBox */

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 280px;
  max-width: 500px;
  height: auto;
  background-color: rgb(262, 63, 78);
  opacity: 0.9;
  border-radius: 48px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  background-color: #1f1f1f;
  border: 3px solid rgb(262, 63, 78);
  animation: fade 1s ease 1 forwards;
}
.confirm h1 {
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5rem 1rem 0.5rem;
}
.confirm p {
  text-align: center;
  font-size: 1rem;
  margin: 0 2rem 4.5rem;
}
.confirm button {
  background: rgb(262, 63, 78);
  margin: 8px;
  border: none;
  color: white;
  height: 3rem;
  font-size: 1rem;
  width: 48%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: ease-in-out;
  border-radius: 48px;
}
.confirm button:nth-of-type(1) {
  border-right: 2px solid black;
  left: 0;
}
.confirm button:nth-of-type(2) {
  border-left: 2px solid black;
  right: 0;
}

.confirm button:nth-of-type(1):hover {
  background: #ee989f;
}

.confirm button:nth-of-type(2):hover {
  background: #1ebf61;
}

.confirm button:focus,
.confirm button:hover {
  font-weight: bold;
  transform: scale(1.001);
  background: rgb(262, 63, 78);
}
.confirm button:active {
  background: #279f2b;
  box-shadow: 7px 6px 28px 1px #1f1f1f;
  transform: translateY(4px);
}

/* input box */

.inputText {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  min-width: 230px;
  max-width: 500px;
  height: auto;
  background-color: rgb(66, 66, 66);
  border-radius: 28px;
  padding: 0;
  margin: 0;
  border: 3px solid rgb(262, 63, 78);
  animation: fade 1s ease 1 forwards;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
#ITitle {
  position: relative;
  font-size: 25px;
  left: 15px;
}

input[type='text'] {
  width: 90%;
  border: 2px solid #aaa;
  left: 15px;
  position: relative;
  margin: 8px 0;
  outline: none;
  height: 37px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputText:hover {
  cursor: pointer;
  border-width: 20px;
}

input[type='text']:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.buttons {
  position: relative;
  left: 135px;
}
.enterButton {
  position: relative;
  left: 50px;
  width: 20%;
  margin: 8px 0;
  border-radius: 38px;
  border: 2px solid #aaa;
  background-color: rgb(262, 63, 78);
  color: rgb(229, 229, 229);
  bottom: 0;
  cursor: pointer;
  height: 37px;
}

.enterButton:nth-of-type(1):hover {
  background: lightcoral;
}

.enterButton:nth-of-type(2):hover {
  background: lightgreen;
  color: black;
}

.enterButton:active {
  box-shadow: 7px 6px 28px 1px #1f1f1f;
  transform: translateY(4px);
}
